*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'public sans' 'sans-serif';
    font-size: 18px;
    line-height: 1.6;
    color: hsl(233, 8%, 62%);
}
.btn{
    text-decoration: none;
    color: hsl(220, 16%, 96%);
    padding: 0.5em 1.2em;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    display: inline-block;
    margin: 1rem 0;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) ;
}
.btn:hover{
    opacity: 0.8;
}

.heading{
    font-size: 2rem;
    font-weight: 400;
    color: hsl(229, 10%, 23%);
    margin: 0.7rem 0;
}

.heading-2{
    color: hsl(228, 3%, 33%);
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.5rem 0;

}
.heading-3{
    font-size: 0.9rem;
}
p{
    margin-bottom: 5rem;
}

.container{
    width: 96.5vw;
    margin: auto;
    position: relative;

}
.main-head{
    position: absolute;
    z-index: 5;
    margin: auto;
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    /* overflow: hidden; */
    background-color: #fff;
}
.logo-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.name-logo img{
    width: 200px;
    margin-top: 10px;
}
.box-1{
    position: relative;
}
.ph-img{
    position: relative;
    width: 100%;
    height: 500px;
    /* overflow: hidden; */
}
.image-1 img{
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
}
.image-2 img{
    position: absolute;
    top: -25%;
    right: 0;
    width: 100%;
    z-index: 2;
}
.box-1-text{
    padding: 1.5rem;
    /* text-align: justify; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}
/* box-1-text>p:first-child{
    margin-top: 3rem;
} */
.box-1-text>p:nth-child(2){
    margin-bottom: 1rem;
}
.box-2{
    background-color: #f4f4f4;
    padding: 2.5rem 1rem 0.2rem 1rem;
    text-align: center;
}

.box-3{
    padding: 2.5rem 1rem 2.5rem 1rem;
    background-color: #f8f8f8;
    text-align: left;
    width: 100%;
    height: 100%;
}
.box-3>.heading{
    text-align: center;
}
.box3-box{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.img{
    width: 100%;
}
.box-3-box-text{
    width: 90%;
    margin: auto;
}
.box-3-box-text>p:last-child{
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
}
h3{
    font-size: 0.9rem;
    font-weight: normal;
}

.foot{
    text-align: center;
    width: 100%;
    background-color: hsl(233, 26%, 24%);
    padding: 2rem  0 1rem 0;
}

.social a{
    display: inline-block;
    margin: 0 0.3rem;
}
/* .menu-head{
    display: absolute;
    width: 100%;
    background-color: red;
    z-index: 9;
} */
.menu-head{
    position: absolute;
    z-index: 4;
    top: 60px;
    padding: 1.5rem;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    background: linear-gradient(to bottom, #000, transparent);
}
#menulist{
    background-color: #fff;
    border-radius: 5px;
    list-style: none;
    text-align: center;
    padding: 1.5rem 0;

}
#menulist li{
    margin: 0.5rem 0;
}
#menulist a{
    text-decoration: none;
    color: rgb(95, 91, 91);
    font-weight: 300;
}
#menulist a:hover{
    opacity: 0.8;
}

#menu-close{
    display: none;
}

@keyframes dropDown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes dropUp{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-100%);
    }
}
.fmenu{
    display: none;
}
@media (min-width: 800px) {
    .fmenu{
        display: inline-block;
    }
    .menu{
        display: none;
    }
    .flex-box-1{
        display: flex;
        flex-direction: row-reverse;
        /* height: 700px; */
    }
    .ph-img{
        height: 600px;
    }
    .image-1 img{
        width: 80%;
    }
    .box-1-text{
        align-self: center;
    }
    .box-2{
        text-align: left;
    }
    .box-2>p:nth-child(2){
        width: 50%;
    }
    .box-2-flex{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    .box-3>p:first-child{
        text-align: left;
    }
    .box3-flex{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    .foot{
        display: flex;
        justify-content: space-around;
    }
    .foot ul{
        list-style: none;
    }
    .social{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
    }
    
    .fmenu-list{
        height: 100%;
        position: absolute;
        top: 0px;
        left: 20%;
        display: flex;
        align-items: center;
        list-style-type: none;

    }
    .fmenu-list li{
        padding: 0 3rem;
    }
    .fmenu-list a{
        text-decoration: none;
        color: #868383;
        font-size: 1.5rem;
    }
    
}









